@page "/index"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-black flex-sm-nowrap">Discussion</h4>
            @for (int i = 0; i < 4; i++)
            {
                <a href="#">
                    <div class="card flex-column">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="card-header-pills"></div>
                            </div>
                            <div class="col-sm-10">
                                <div class="card-body">
                                    <div class="card-title">Name @i</div>
                                    <div class="card-text">lorem ipsum lorem...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
        <div class="col-md-8">
            <h4 class="text-black flex-sm-nowrap">Message container</h4>
            <div class="container flex-lg-grow-1">
                <div class="col">
                    <div class="flex-column row-10">
                        @for (int i = 0; i < 6; i++)
                        {
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <h5 class="text-capitalize bg-danger">User</h5>
                                        </div>
                                        <div class="col-10">
                                            <p> text from the message</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row-2">
                        <div class="row mb-4">
                            <div class="col-10">
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary">
                                    <label class="text-white font-monospace">Send</label>
                                    <span class="oi oi-chat"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>