@page "/"
@layout AuthenticationLayout

@inject NavigationManager _navigationManager
@inject ApiService _apiService
@inject LocalStorageInterop _localStorageInterop

<div class="row login-page">
    <div class="col-md-4 col-lg-4 col-lg-offset-4">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="user-avatar img-thumbnail" alt="auth-avatar">
        <h1>MyCollaborator.com</h1>
        <form role="form" class="ng-pristine ng-valid">
            <div class="form-content">
                <div class="form-group">
                    <input type="tel" @bind-value="_query.Telephone" class="form-control input-underline input-lg" placeholder="Telephone">
                </div>
                <div class="form-group">
                    <input type="text" @bind-value="Username" class="form-control input-underline input-lg" placeholder="Username">
                </div>
            </div>
            <button class="btn btn-info btn-lg" @onclick="() => LogIng()">
                Log in
            </button>
        </form>
    </div>
</div>