@page "/"
@layout AuthenticationLayout

@inject NavigationManager _navigationManager
@inject ApiService _apiService

<div class="row login-page">
    <div class="col-md-4 col-lg-4 col-lg-offset-4">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="user-avatar img-thumbnail" alt="auth-avatar">
        <h1>MyCollaborator.com</h1>
        <form role="form" class="ng-pristine ng-valid">
            <div class="form-content">
                <div class="form-group">
                    <input type="tel" @bind-value="_query.Telephone" class="form-control input-underline input-lg" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" @bind-value="_query.Username" class="form-control input-underline input-lg" placeholder="Password">
                </div>
            </div>
            <button class="btn btn-info btn-lg" @onclick="() => LogIng()">
                Log in
            </button>
        </form>
    </div>
</div>

@code {
    private AuthenticationQuery _query = new();

    void LogIng()
    {
        if (!string.IsNullOrWhiteSpace(_query.Telephone) || !string.IsNullOrWhiteSpace(_query.Username))
        {
            //TODO: Call api to logIn or register
            _navigationManager.NavigateTo("/index"); 
        }
    }

}